html, body {
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: calibri, arial;
}

.search-header img {
    height:46px;
}

.search-header input {
    width:100%;
    height:46px;
}

#map {
    min-height:500px;
    height:72%;
}

.control {
    height: 6%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Avatar image */
img.avatar {
    width: 180px;
    border-radius: 50%;
}

#login-form {
    width:100%
}