html, body {
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: calibri, arial;
}

.search-header img {
    height:46px;
}

.search-header input {
    width:100%;
    height:46px;
}

#map {
    min-height:500px;
    height:72%;
}

.control {
    height: 6%;
}
