html, body {
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: calibri, arial;
}

.dashboard img {
    height:46px;
}

.dashboard input {
    width:100%;
    height:46px;
}

#map {
    min-height:550px;
    height:72%;
}

.control {
    height: 6%;
}
