<div>
  <div class="control w3-blue">
    <ul class="menu w3-ul">
        <li>
        <img ng-src="{{$ctrl.company.logo}}" style="width:72px"/> {{$ctrl.company.name}}
        </li>
        <li>
          <input ng-model="$ctrl.query" ng-keyup="$ctrl.onSearch()" class="w3-round" placeholder="Search"/> 
          <i class="material-icons"> search </i>
        </li>
        <li class="divider"> </li>
        <li classs= "w3-bar">
            <button id="refresh" class="w3-bar-item w3-button w3-black" ng-click="$ctrl.refresh()">Refresh</button>
            <button class="w3-bar-item w3-button w3-teal">Button</button>
            <button class="w3-bar-item w3-button w3-red">Button</button>
        </li>
    </ul>
  </div>

  <div id="map"></div>

  <div class="notification">
    <div id="notification-body">
      <table class="w3-table w3-text-black">
        <tr ng-repeat="obj in $ctrl.objects | filter:$ctrl.query | orderBy:$ctrl.orderProp" style="background-color: {{obj.status}}">
          <td>
            <img ng-src="{{obj.icon}}" /> <br/> {{obj.name}}
          </td>
          <td>{{obj.destination}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>