<div class="mainbody w3-display-container">
  <searchheader query="$ctrl.query"> </searchheader>
  <div class="w3-right w3-animate-right" style="width:5%;right:0">
    <div class="w3-sidebar w3-bar-block w3-small">
      <button class="w3-bar-item w3-button" ng-click="$ctrl.toggleView(1,'w3-hide');"><i class="material-icons"> list </i></button>
      <button class="w3-bar-item w3-button" ng-click="$ctrl.toggleView(2,'w3-threequarter');"><i class="material-icons"> add_circle_outline </i></button>
      <button class="w3-bar-item w3-button" ng-click="$ctrl.toggleView(3,'w3-threequarter');"><i class="material-icons"> settings </i></button>
    </div>
  </div>
  <div style="width:95%">
    <dashboard ng-class="$ctrl.dashboardWidth" query="$ctrl.query"></dashboard>
    <listview ng-show="$ctrl.showView==1" query="$ctrl.query"></listview>
    <newobj class="w3-quarter" ng-show="$ctrl.showView==2"></newobj>
    <settings class="w3-quarter" ng-show="$ctrl.showView==3"></settings>
  </div>
</div>