<div class="newobj">
  <form class="w3-container w3-small" ng-submit="$ctrl.saveObj()">
    <div class="w3-panel w3-white w3-card-4">
      <span ng-click="$ctrl.showContact=!$ctrl.showContact"> 
      <h4>
        <i class="material-icons" ng-show="!$ctrl.showContact">expand_more</i>Contact 
      </h4> 
      </span>
      <div ng-show="$ctrl.showContact">
        <p>
          <input class="w3-input w3-light-grey" type="text" ng-model="$ctrl.object.contact.name" ng-required="true" />
          <label class="w3-text-blue"><b>Name</b></label>
        </p>
        <p>
          <input class="w3-input w3-light-grey " type="text" ng-model="$ctrl.object.contact.phone"/>
          <label class="w3-text-blue"><b>Phone Number</b></label>
        </p>
      </div>
    </div>

    <div class="w3-panel w3-white w3-card-4">
      <span ng-click="$ctrl.showAddress=!$ctrl.showAddress"> 
      <h4> 
      <i class="material-icons" ng-show="!$ctrl.showAddress">expand_more</i>Andress 
      </h4> 
      </span>
      <div ng-show="$ctrl.showAddress">
        <p>
          <input class="w3-input w3-light-grey" type="text" ng-model="$ctrl.object.address.street" ng-required="true" />
          <label class="w3-text-blue"><b>Street</b></label>
        </p>

        <p>
          <input class="w3-input w3-light-grey" type="text" ng-model="$ctrl.object.address.city" />
          <label class="w3-text-blue"><b>City</b></label>
        </p>

        <p>
          <input class="w3-input w3-light-grey" type="text" ng-model="$ctrl.object.address.zipcode" />
          <label class="w3-text-blue"><b>Zip Code</b></label>
        </p>

        <p>
          <input class="w3-input w3-light-grey" type="text" ng-model="$ctrl.object.address.state" />
          <label class="w3-text-blue"><b>State</b></label>
        </p>
      </div>
    </div>

    <div class="w3-panel w3-white w3-card-4">
      <span ng-click="$ctrl.showSchedule=!$ctrl.showSchedule"> 
      <h4> 
      <i class="material-icons" ng-show="!$ctrl.showSchedule">expand_more</i>Schedule
      </h4> 
      </span>
      <div ng-show="$ctrl.showSchedule">
        <p>
          <input class="w3-input w3-light-grey" type="text" ng-model="$ctrl.object.schedule.start"/>
          <label class="w3-text-blue"><b>Start Time</b></label>
        </p>
        <p>
          <input class="w3-input w3-light-grey" type="text" ng-model="$ctrl.object.schedule.repeat"/>
          <label class="w3-text-blue"><b>Repeat</b></label>
        </p>
      </div>
    </div>
    <div class="w3-card-4">
      <p> <button class="w3-button w3-blue w3-block" ng-click="$ctrl.validateObj()">Save</button></p>
    </div>
  </form>
</div>